@{
    ViewBag.Title = "Main";
}
<!DOCTYPE html>
<html>
<head>
    
    <meta content="https://6af6nuomym.preview-postedstuff.com/V2-umra-r2xA-ZFC2S-uBb1/" property="og:url" />
    <meta content="https://pro-bee-beepro-thumbnails.s3.amazonaws.com/messages/824552/808515/1706887/7775912_large.jpg" property="og:image" />

    <meta content="width=device-width" name="viewport" />
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>@ViewBag.Title </title>
    <script src="~/Content/js/load-image.js"></script>
    <link rel="stylesheet" href="~/Content/css/probn.css">

</head>
<body>
    <div id="menu-bar">
        <div id="div-image">
            <img src="~/Content/images/@Session["img"]">
        </div>
        <hr>
        <div id="div-tools">
            <div id="tool-home">
                <div class="img-tool" onclick="loadHome()">
                    <img src="~/Content/images/home.png">
                </div>
                <hr>
            </div>
            <div id="tool-home">
                <div class="img-tool" onclick="loadBooks()">
                    <img src="~/Content/images/calendar.png">
                </div>
                <hr>
            </div>
            <div id="tool-home">
                <div onclick="loadHistory()">
                    <img src="~/Content/images/histories.png">
                </div>
                <hr>
            </div>
        </div>

        <div id="div-profile" onclick="loadProfile()">
            <hr>
            <img src="~/Content/images/profile.png">
            <hr>
        </div>
    </div>
        @RenderBody()
        

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
    <script>
    function loadProfile() {
        window.location.replace("@EHealthCare_WebApp.Utils.Domain._domain" + "Probn/Profile");
    }
    function loadHome()
    {
        window.location.replace("@EHealthCare_WebApp.Utils.Domain._domain" + "Probn/Home")
    }
    function loadHistory()
    {
        window.location.replace("@EHealthCare_WebApp.Utils.Domain._domain" + "Probn/History")
    }

    function loadBooks() {
        window.location.replace("@EHealthCare_WebApp.Utils.Domain._domain" + "Probn/Books")
    }
    </script>
    <!-- Start of txt.me widget code -->
    <script src="https://v3.txt.me/livechat/js/wrapper/b1921162-2619-46eb-85ac-9dd36d923316" async></script>
    <noscript><a href="https://txt.me/reviews/b1921162-2619-46eb-85ac-9dd36d923316" rel="nofollow">Rate New Widget customer support</a>, powered by <a href="https://txt.me" rel="noopener nofollow" target="_blank">txt.me</a></noscript>
    <!-- End of txt.me widget code -->
</body>

</html>


