
@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout_bn.cshtml";
    List<DbEHealthcare.Entities.LichTuVan> lichtuvans = ViewData["lichtuvans"] as List<DbEHealthcare.Entities.LichTuVan>;
    int sll = 0;
    int ct = 100;

    string chitiettuvan = ViewData["chitiettuvans"] as string;
}
<script>
    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [year, month, day].join('-');
    }
    var dob = formatDate("@DateTime.Now");
    $(document).ready(function(){
        var element = document.getElementById("datetimefilter");
        element.value = dob;
    });

    function offdetail() {
        $(".detail-clone-off").remove();
    }
    function offdetailall(){
        $(".offdetailon").remove();
    }
    var chitiettuvans = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(chitiettuvan))")
</script>
<link rel="stylesheet" href="~/Content/css/history.css" />
<div id="content">

    @* Xử lý lọc

                <script> -------------
                function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }
        var dob = formatDate("@DateTime.Now");
        $(document).ready(function(){
            var element = document.getElementById("datetimefilter");
            element.value = dob;
        });
                html --------------
                <div class="form-inline" style="padding-left: 30px;">
                <form action="Probs/FilterHistory" method="get">
                    <br />
                    <label style="display: inline;">Lọc theo ngày: </label>
                    <input type="date" id="datetimefilter" name="date" style="border-radius: 0; border: 1px solid black; font-family: Arial; font-weight: 500; font-size: 15px; margin-right: 7px; "/>
                    <button style="border: none;">Lọc</button>
                </form>
            </div>
            <hr />

    *@
    <hr />

    @foreach (DbEHealthcare.Entities.LichTuVan ltv in lichtuvans)
    {
        <div id="content-element">
            <div id="element-state" class="element-1" style="background-color: @(ltv.trangthai == true? "#00FFE0":"lightgrey")">
                <div id="element-1-img">
                    <img src="~/Content/images/@ltv.BacSi.hinhanh" />
                </div>
                <div id="element-1-data">
                    <table>
                        <tr>
                            <td>Bệnh Nhân:</td>
                            <td>@ltv.BacSi.hoten</td>
                        </tr>
                        <tr>
                            <td>Ngày:</td>
                            <td>@ltv.ntv.ToShortDateString()</td>
                        </tr>
                        <tr>
                            <td>Giờ:</td>
                            <td>@ltv.ntv.Hour</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="element-detail" class="element-2 " style="background-color: none">
                <div style="margin-top: 65px;" >
                    @{
                        string uri = "http://localhost:3000/index.html?meeting_id=" + @ltv.phongtuvan + "&user_name=" + Html.Raw(ltv.BenhNhan.hoten) + "&user_id=" + ltv.email_BN;
                        }
                    <a href="@uri" target="_blank" style="text-decoration: none">Vào phòng</a>
                </div>
            </div>
        </div>
        sll++; ct++;
    }

</div>

<link rel="stylesheet" href="~/Content/css/detail.css" />
<style>
    #detail-all {
        background-color: lightcyan;
        position: absolute;
        width: 345px;
        height: 150px;
        margin-left: 350px;
        margin-top: 150px;
        padding-left: 5px;
        border: 1px solid lightgrey;
        border-radius: 10px;
    }

    #content {
        font-family: Arial;
        font-weight: 400;
        color: black;
    }

    #content-element {
        margin: 10px;
        background-color: lightgray;
        width: 580px;
        height: 150px;
        border-radius: 15px;
        padding: 5px 5px;
        float: left;
    }

    .element-1 {
        width: 450px;
        height: 100%;
        border-radius: 15px;
        float: left;
        margin: 0px 5px;
        padding: 5px 10px;
        font-weight: 500;
        color: black;
    }

    .element-2 {
        width: 90px;
        height: 100%;
        border-radius: 15px;
        float: left;
        margin: 0px 5px;
        text-align: center;
        background-color: aqua;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    #element-1-img {
        width: 100px;
        height: 100px;
        float: left;
        margin: 10px;
    }

    #element-1-data {
        float: left;
        margin: 10px;
    }

    #detail-clone {
        position: absolute;
        margin-left: 150px;
        margin-top: 50px;
        width: 620px;
        height: 690px;
        background-color: white;
        border-radius: 15px;
        border: 1px solid black;
        padding: 10px;
    }

    .detail-mar {
        width: 565px;
        height: 108px;
        background-color: lightgray;
        display: flex;
    }

    .close-detail {
        background-color: aquamarine;
        cursor: pointer;
    }
</style>
